<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <title th:text="${tournament.name}">Sep'17 tournament - group stage</title>
    <link rel="stylesheet" th:href="@{/css/rating.css}"
          href="../../css/rating.css"/>
</head>
<body>
<div class="row">
    <div class="col-md-6">
        <table class="rwd-table" style="font-size:16pt;">
            <tr>
                <th>#</th>
                <th style="text-align: center;">Team</th>
                <th>+/-</th>
                <th>G</th>
                <th>Pts</th>
            </tr>
            <tr th:each="team,iter : ${tournament.boxes[0].teams}">
                <td th:text="${iter.index + 1}">1</td>
                <!--<td th:text="${team.displayName}" style="color: #ecec3c; font-size: 11pt;">John Hopkins</td>-->
                <td>
                    <div class="row" style="text-align: center; width: 280px;">
                        <div class="col-md-6"><img style="border-radius: 50%; width: 44px; height: 44px;"
                                                   th:src="@{${'/userpics/' + team.player1.username + '.png'}}"/></div>
                        <div class="col-md-6"><img style="border-radius: 50%; width: 44px; height: 44px;"
                                                   th:src="@{${'/userpics/' + team.player2.username + '.png'}}"/></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6" style="font-size: 9pt; text-align: center; padding-top: 2pt;"
                             th:text="${team.player1.username}">@arykhalski
                        </div>
                        <div class="col-md-6" style="font-size: 9pt; text-align: center; padding-top: 2pt;"
                             th:text="${team.player2.username}">@kkovalenko
                        </div>
                    </div>
                </td>
                <td th:text="${team.goalsDelta}">11</td>
                <td th:text="${team.gamesPlayed}">4</td>
                <td th:text="${team.points}" style="text-align: right;"><b>5</b></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="rwd-table" style="font-size:16pt;">
            <tr>
                <th>#</th>
                <th style="text-align: center;">Team</th>
                <th>+/-</th>
                <th>G</th>
                <th>Pts</th>
            </tr>
            <tr th:each="team,iter : ${tournament.boxes[1].teams}">
                <td th:text="${iter.index + 1}">1</td>
                <!--<td th:text="${team.displayName}" style="color: #ecec3c; font-size: 11pt;">John Hopkins</td>-->
                <td>
                    <div class="row" style="text-align: center; width: 280px;">
                        <div class="col-md-6"><img style="border-radius: 50%; width: 44px; height: 44px;"
                                                   th:src="@{${'/userpics/' + team.player1.username + '.png'}}"/></div>
                        <div class="col-md-6"><img style="border-radius: 50%; width: 44px; height: 44px;"
                                                   th:src="@{${'/userpics/' + team.player2.username + '.png'}}"/></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6" style="font-size: 9pt; text-align: center; padding-top: 2pt;"
                             th:text="${team.player1.username}">@arykhalski
                        </div>
                        <div class="col-md-6" style="font-size: 9pt; text-align: center; padding-top: 2pt;"
                             th:text="${team.player2.username}">@kkovalenko
                        </div>
                    </div>
                </td>
                <td th:text="${team.goalsDelta}">11</td>
                <td th:text="${team.gamesPlayed}">4</td>
                <td th:text="${team.points}" style="text-align: right;"><b>5</b></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="rwd-table">
            <tr>
                <th>
                    <div style="width: 12px; height: 12px; border-radius: 50%; background-color: red; margin: auto;"/>
                </th>
                <th></th>
                <th>
                    <div style="width: 12px; height: 12px; border-radius: 50%; background-color: yellow; margin: auto;"/>
                </th>
            </tr>
            <tr th:each="boxGame : ${tournament.boxes[0].boxGames}">
                <td style="text-align: center;">
                    <img style="border-radius: 50%; width: 36px; height: 36px;"
                         th:src="@{${'/userpics/' + boxGame.redTeam.player1.username + '.png'}}"/>
                    <img style="border-radius: 50%; width: 36px; height: 36px;"
                         th:src="@{${'/userpics/' + boxGame.redTeam.player2.username + '.png'}}"/>
                </td>
                <td th:text="${boxGame.played ? boxGame.game.redTeamGoals + ' : ' + boxGame.game.yellowTeamGoals : '-:-'}" style="text-align: center;">5:10</td>
                <td style="text-align: center;">
                    <img style="border-radius: 50%; width: 36px; height: 36px;"
                         th:src="@{${'/userpics/' + boxGame.yellowTeam.player1.username + '.png'}}"/>
                    <img style="border-radius: 50%; width: 36px; height: 36px;"
                         th:src="@{${'/userpics/' + boxGame.yellowTeam.player2.username + '.png'}}"/>
                </td>
            </tr>

        </table>
    </div>
    <div class="col-md-6">
        <table class="rwd-table">
            <tr>
                <th>
                    <div style="width: 12px; height: 12px; border-radius: 50%; background-color: red; margin: auto;"/>
                </th>
                <th></th>
                <th>
                    <div style="width: 12px; height: 12px; border-radius: 50%; background-color: yellow; margin: auto;"/>
                </th>
            </tr>
            <tr th:each="boxGame : ${tournament.boxes[1].boxGames}">
                <td style="text-align: center;">
                    <img style="border-radius: 50%; width: 36px; height: 36px;"
                         th:src="@{${'/userpics/' + boxGame.redTeam.player1.username + '.png'}}"/>
                    <img style="border-radius: 50%; width: 36px; height: 36px;"
                         th:src="@{${'/userpics/' + boxGame.redTeam.player2.username + '.png'}}"/>
                </td>
                <td th:text="${boxGame.played ? boxGame.game.redTeamGoals + ' : ' + boxGame.game.yellowTeamGoals : '-:-'}" style="text-align: center;">5:10</td>
                <td style="text-align: center;">
                    <img style="border-radius: 50%; width: 36px; height: 36px;"
                         th:src="@{${'/userpics/' + boxGame.yellowTeam.player1.username + '.png'}}"/>
                    <img style="border-radius: 50%; width: 36px; height: 36px;"
                         th:src="@{${'/userpics/' + boxGame.yellowTeam.player2.username + '.png'}}"/>
                </td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>