<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/rating.css}"
          href="../../css/rating.css" />
</head>
<body>

<table class="rwd-table">
    <tr>
        <th>#</th>
        <th>Player</th>
        <th>Games</th>
        <th>Rating</th>
    </tr>
    <tr th:each="playerStats,iter : ${ratings}">
        <td th:text="${iter.index + 1}">1</td>
        <td th:text="${playerStats.key.fullName}">John Hopkins</td>
        <td th:text="${playerStats.value.gamesPlayed}">11</td>
        <td th:text="${#numbers.formatDecimal(playerStats.value.rating, 0, 2)}"><b>133.05</b></td>
    </tr>
</table>

</body>
</html>