<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${'Player stats - ' + playerStats.player.fullName}">Player stats - John Lennon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/rating.css}"
          href="../../css/rating.css"/>
</head>
<body>

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <table class="rwd-table">
            <tr>
                <td>
                    <img style="border-radius: 50%; width: 72px; height: 72px;"
                         th:src="@{${'/userpics/' + playerStats.player.username + '.png'}}"/>
                </td>
                <td colspan="2" style="font-size: 20pt;" th:text="${playerStats.player.fullName}">John Doe</td>
            </tr>
            <tr>
                <td></td>
                <td>Rating</td>
                <td th:text="${#numbers.formatDecimal(playerStats.baseStats.rating, 0, 0)}"></td>
            </tr>
            <tr>
                <td></td>
                <td>Games played</td>
                <td th:text="${playerStats.baseStats.matchesPlayed}"></td>
            </tr>
            <tr>
                <td></td>
                <td>Goals for</td>
                <td th:text="${playerStats.goalsFor}"></td>
            </tr>
            <tr>
                <td></td>
                <td>Goals against</td>
                <td th:text="${playerStats.goalsAgainst}"></td>
            </tr>
        </table>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <table class="rwd-table">
            <tr>
                <th>
                    <div style="width: 12px; height: 12px; border-radius: 50%; background-color: red; margin: auto;"/>
                </th>
                <th></th>
                <th>
                    <div style="width: 12px; height: 12px; border-radius: 50%; background-color: yellow; margin: auto;"/>
                </th>
            </tr>
            <tr th:each="match : ${playerStats.matches}">
                <td>
                    <img style="border-radius: 50%; width: 36px; height: 36px;"
                         th:src="@{${'/userpics/' + match.redTeamPlayer1.username + '.png'}}"/>
                    <img style="border-radius: 50%; width: 36px; height: 36px;"
                         th:src="@{${'/userpics/' + match.redTeamPlayer2.username + '.png'}}"/>
                </td>
                <td th:classappend="${playerStats.results[__${match.id}__]} ? score-win : score-lose">
                    <div th:text="${match.redTeamGoals + ' : ' + match.yellowTeamGoals}" style="text-align: center;">5:10</div>
                    <div th:text="${(playerStats.results[__${match.id}__] ? '+ ' : '– ') + #numbers.formatDecimal(playerStats.ratingDelta[__${match.id}__], 0, 0)}"
                         style="text-align: center; font-size: 8pt;">+503</div>
                </td>
                <td>
                    <img style="border-radius: 50%; width: 36px; height: 36px;"
                         th:src="@{${'/userpics/' + match.yellowTeamPlayer1.username + '.png'}}"/>
                    <img style="border-radius: 50%; width: 36px; height: 36px;"
                         th:src="@{${'/userpics/' + match.yellowTeamPlayer2.username + '.png'}}"/>
                </td>
            </tr>

        </table>
    </div>
</div>


</body>
</html>