<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cushing Software - ZenSoft kicker rating</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/rating.css}"
          href="../../css/rating.css" />
</head>
<body>

<table class="rwd-table">
    <tr>
        <th>#</th>
        <th colspan="2" style="text-align: center">Player</th>
        <th  style="text-align: center">Games</th>
        <th  style="text-align: center">Rating</th>
    </tr>
    <tr th:each="playerStats,iter : ${ratings}">
        <td th:text="${iter.index + 1}">1</td>
        <td><img style="border-radius: 50%; width: 28px; height: 28px;"
                 th:src="@{${'/userpics/' + playerStats.player.username + '.png'}}"/></td>
        <td><a th:href="'/player/' + ${playerStats.player.username}"><span th:text="${playerStats.player.fullName}"/></a></td>
        <td th:text="${playerStats.baseStats.gamesPlayed}">11</td>
        <td th:text="${#numbers.formatDecimal(playerStats.baseStats.rating, 0, 0)}"><b>133.05</b></td>
    </tr>
</table>

</body>
</html>